
body {
    background-color: darkseagreen;
}

.content {
    border-style: solid;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    background-color: beige;
    padding-bottom: 30px;
}

header {
    margin-top: 100px;
}
@font-face {
    font-family: Vouge;
    src: url(/Vogue.ttf);
    }


h1{
    margin-bottom: 0;
    letter-spacing: 5px;
    margin-top: 35px;
    font-weight: 600;
    font-size: 50px;
    font-family: Vouge, Verdana, serif;
}

.logo {
    font-size: 60px;
}

h2 {
    display: inline-flex;
    letter-spacing: 1px;
    padding: 15px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0;
}

h4 {
    font-size: 25px;
}

hr {
    border:none;
    border-top:2px solid;
    margin: 10px auto; 
    width:20em;
}

.opening {
    border-style: dotted; 
    margin-left: 50px;
    margin-right: 50px;
}

img {
    border: solid;
    width: 40%;
  }
  
  p:first-child {
      font-weight: bold;
  }

/* Site Navigation */

.navlink:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid;
    margin: 8px;
    transition:all 0.3s linear 0s;
}

.navlink:hover:after {
    width: 100%;
}

.topnav{
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.topnav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}
.topnav ul{
    margin: 0;
    padding: 0;
}
.topnav li{
    list-style: none;
    float: left;
    padding-right: 2px;
    padding-bottom: 50px;
}
/* End Site Navigation */